#root {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  background: rgb(10, 181, 163);
  background-image: url('./assets/background.png');
  background-size: cover; /* Ajusta la imagen para que cubra el contenedor */
  background-position: center; /* Centra la imagen horizontalmente y verticalmente */
}

.app{
  display: flex;
  
}