.message-div{
    display: flex;
    position: absolute;
    top: 8rem;
    border-radius: 50rem;
    left: 46%;
    width: 7rem;
    height: 7rem;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    color: rgb(233, 232, 232);
  }
  
  .message-div img{
    width: 100%
  }