
.main-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.morse-code-container{
    display: flex;
    width: 95%;
    height: 25rem;
    background-color: rgba(255, 255, 255, 0.408);
    border: 2px solid;
    border-color: rgba(128, 128, 128, 0.547);
    margin: 0;
    margin-top: 2rem;
    justify-content: center;

    border-radius: 5em;
  }

  .header-text{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .score-text{
    font-size: 2rem;
    color: #304b48;
    margin-right: 2rem;

  }

  .level-text{
    font-size: 2rem;
    color: #304b48;
    margin-right: 2rem;
  }

  span{
    font-size: 80px;
    margin-right: 10px;
  }
  
  .word-div{
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
  }

  .word-letter{
    font-size: 12rem;
    color: #22978B;
    margin-right: 2rem;
  }

  .word-letter-select{
    font-size: 12rem;
    color: #e2ae12;
    margin-right: 2rem;
  }
  
  .letter-text{
    font-size: 10rem;
    margin: 0;
  }
  


  h2{
    margin: 0;
    margin-top: 1rem;
  }

  h1{
    margin: 0;
    margin-top: 1rem;
  }

  .morse-img-div img{
    width: 60%;
  }

.morse-img-div{
    display: flex;
    justify-content: center;
    align-items: center;
  }